/*事件页面*/
body{
	background: #f4f7fb;
}
.main{
	width:auto;
	height:748px;
	background: #f4f7fb;
	padding:10px 13px;
}
.main .mainMap{
	width:auto;
	height:350px;
	overflow:hidden;
	border-radius: 3px;
}
#tarmap{
	width:1082px;
	height:297px;
}
.main .mainMap .mapImg{
	width:1082px;
	height:52px;
	background: #31a778;
    display: table-cell;
    vertical-align: middle;
    text-align: left;   
}
.main .mainMap .mapImg img{
   width:41px;
   height:41px;
   display: inline-block;
   padding-left:25px;
}
.main .parkMes {
	margin-top:10px;
}
.main .parkMes .pastPark{
	float:left;
	width:430px;
	height:350px;
	border:1px solid #e7e7e7;
	overflow:hidden;
	border-radius: 3px;
	margin-right:10px;
	background: #fff;
} 
.main .parkMes .pastPark .Mes{
	height:51px;
	line-height: 51px;
	border-bottom:1px solid #e7e7e7;
}
.main .parkMes .pastPark .Mes img{
	width:35px;
	height:35px;
	display: inline-block;
	vertical-align:middle;
	padding-left:28px;
}
.main .parkMes .pastPark .Mes span{
	font-size:18px;
	color:#77808d;
	padding-left:10px;
}
.main .parkMes .pastPark .hisPark p{
	height:49px;
	line-height:49px;
	border-bottom:1px solid #e7e7e7;
	padding-left:30px;
    position: relative;
	
}
.main .parkMes .pastPark .hisPark span:nth-child(1){
	font-size:16px;
	color:#b7b7b7;
}
.main .parkMes .pastPark .hisPark p span:nth-child(2){
	float: right;
	padding-right:175px;
	color:#5c5c5c;

}
#my_html{
	position: absolute;
	top:5px;
	left:370px;
}
#my_h{
	position: absolute;
	top:5px;
	left:370px;
}
#myl{
	position: absolute;
	top:5px;
	left:370px;
}
#my_m{
	position: absolute;
	top:5px;
	left:370px;
}
#my_{
	position: absolute;
	top:5px;
	left:370px;
}
#mym{
	position: absolute;
	top:5px;
	left:370px;
}

.main .parkMes .lineMes{
	float:left;
	width:640px;
	height:350px;
	border:1px solid #e7e7e7;
	overflow:hidden;
	border-radius: 3px;
	background: #fff;
} 
.main .parkMes .lineMes .List{
	height:51px;
	line-height: 51px;
	border-bottom:1px solid #e7e7e7;
}
.main .parkMes .lineMes .List img{
	width:35px;
	height:35px;
	display: inline-block;
	vertical-align:middle;
	padding-left:28px;
}
.main .parkMes .lineMes .List span{
	font-size:18px;
	color:#77808d;
	padding-left:10px;
}
.main .parkMes .lineMes .navMes{
	overflow: auto;
	height:300px;
}
.main .parkMes .lineMes .navMes p{
	height:49px;
	line-height: 49px;
	border-bottom:1px solid #e7e7e7;
	font-size:15px;
	color:#b4b4b4;
	padding-left:28px;
}
.main .parkMes .lineMes .navMes .pael{
	padding-left:24px;
}
.main .parkMes .lineMes .navMes .name{
	padding-left:40px;
}
.main .parkMes .lineMes .navMes .state{
	padding-left:30px;
}
.main .parkMes .lineMes .navMes .state1{
	color:#f29d67;
}
.main .parkMes .lineMes .navMes .score{
	float: right;
	padding-right:4px;
	position: relative;
}
.main .parkMes .lineMes .navMes .score span:nth-child(1) img{
	width:35px;
	height:35px;
	vertical-align: middle;
	
}
.main .parkMes .lineMes .navMes .score span:nth-child(2){
	width:15px;
	height:15px;
    text-align: center;
    line-height: 15px;
    background: #6fd3db;
    font-size:8px;
    color:#fff;
    border-radius:100px;
    position:absolute;
    top:3px;
    left:24px;
	
}
.main .parkMes .lineMes .navMes .ascore span:nth-child(2){
	width:15px;
	height:15px;
    text-align: center;
    line-height: 15px;
    background: #ff6225;
    font-size:8px;
    color:#fff;
    border-radius:100px;
    position:absolute;
    top:3px;
    left:24px;
	
}

